<div class="sidebar-slider" [class.sidebar-slide-in]="isSliderOpen">
    <div class="sidebar-close" (click)="onClose()">
        X
    </div>
    <div class="sidebar-content">
        <h2 *ngIf="user.name"><span style="font-size: 1em;">({{ user.role | titlecase }})</span></h2>
        <h2 *ngIf="!user.name">Menu</h2>
        <div *ngFor="let item of menuItems">
            <button class="sidebar-link" 
                    [class.active]="item.isActive"
                    (click)="onMenuClick(item.route)">
                {{ item.label }}
            </button>
        </div>
    </div>
</div>