.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--header-bg);
    color: var(--header-text);
    padding: 0.75rem 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.left-section .logo {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--primary-color);
}

.right-section {
    display: flex;
    align-items: center;
    gap: 1rem;

    .user-info {
        font-weight: 500;
        font-size: 0.95rem;
        color: var(--header-text);
    }
}

.sidebar-opener {
    cursor: pointer;
    background-color: #eee;
    padding: 10px;
    margin: 10px;
    width: fit-content;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1200;
    position: relative;
}