<mat-toolbar color="primary" class="header-container">

  <button *ngIf="user.name" mat-icon-button class="sidebar-opener" (click)="onSidebarToggle()" aria-label="Open sidebar">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="logo" style="margin-left: 8px;">CourseHub</span>

  <app-breadcrumb *ngIf="!isLoginPage"></app-breadcrumb>

  <span class="spacer" style="flex: 1 1 auto;"></span>

  <!-- <span class="user-info" *ngIf="user.name">{{ user.name }} ({{ user.role }})</span> -->

  <button mat-icon-button (click)="toggleTheme()" [matTooltip]="'Toggle Theme'" aria-label="Toggle theme">
    <mat-icon>{{ isDarkMode ? 'dark_mode' : 'light_mode' }}</mat-icon>
  </button>

  <button *ngIf="user.name" mat-icon-button [matMenuTriggerFor]="profileMenu" class="profile-icon-btn" aria-label="Profile">
    <span class="profile-circle">
      <mat-icon>person</mat-icon>
    </span>
  </button>
<mat-menu #profileMenu="matMenu" xPosition="before">
  <button mat-menu-item color="warn" (click)="logout()" [matTooltip]="'Logout'" aria-label="Logout">
    <span>{{user.name}}</span>
    <mat-icon>logout</mat-icon>
  </button>
</mat-menu>
  <button *ngIf="!user.name" mat-icon-button (click)="goToLogin()" [matTooltip]="'Login'" aria-label="Login">
    <mat-icon>login</mat-icon>
  </button>
 
  
</mat-toolbar>